if footer ? footer : footer = []

//begin footer
+b.FOOTER.footer(class= footerClass ? footerClass : '')
	+e.container.container
		+e.col
			+e.title.title-sm Компания
			+e.UL.list
				+e.LI
					+e.A(href='#!') О нас
				+e.LI
					+e.A(href='#!') Онлайн трансляция
				+e.LI
					+e.A(href='#!') Контакты
				+e.LI.list-margin
					+e.A(href='tel:+79276928586') +7 927 692-85-86
		+e.col
			+e.title.title-sm Католог
			+e.UL.list
				+e.LI
					+e.A(href='#!') Купальники
				+e.LI
					+e.A(href='#!') Бюстгалтеры
				+e.LI
					+e.A(href='#!') Трусики
				+e.LI
					+e.A(href='#!') Боди
				+e.LI
					+e.A(href='#!') Аксессуары
				+e.LI
					+e.A(href='#!') Sale

		+e.col
			+e.title.title-sm Помощь
			+e.UL.list
				+e.LI
					+e.A(href='#!') Доставка
				+e.LI
					+e.A(href='#!') Оплата
				+e.LI
					+e.A(href='#!') Обмен и возврат
				+e.LI
					+e.A(href='#!') Программа лояльности
				+e.LI
					+e.A(href='#!') Карта сайта
				+e.LI
					+e.A(href='#!') Сотрудничество
		+e.col
			+e.title.title-sm Покупателям
			+e.UL.list
				+e.LI
					+e.A(href='#!') Мобильный кабинет
				+e.LI
					+e.A(href='#!') Определить размер
				+e.LI
					+e.A(href='#!') Заказать обратный звонок
				+e.LI
					+e.A(href='#!') Задать вопрос
				+e.LI
					+e.A(href='#!') Полезные материалы
//end footer